.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 12rem;
}
.explanation h3 {
  font-size: 4.3rem;
  font-weight: 300;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 5%, black 100%);
  display: inline-block;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.explanation p {
  font-size: 1.6rem;
  margin-bottom: 7.2rem;
  max-width: 120rem;
}
